@keyframes rotating {
	100% {transform: rotate(-360deg);}
}

div {
	position: fixed;
	transition: all 0.3s ease;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	color: black;
	text-align: center;
	user-select: none;
}
img {
	position: fixed;
	transition: all 0.3s ease;
	user-select: none;
}
