div {
	position: fixed;
	transition: all 2.5s ease;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	color: black;
	text-align: center;
}
img {
	position: fixed;
	transition: all 2.5s ease;
}
