@keyframes rotating {
	100% {transform: rotate(-360deg);}
}

div {
	position: fixed;
	transition: all 0.3s ease;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	color: black;
	text-align: center;
	user-select: none;
}
img {
	position: fixed;
	transition: all 0.3s ease;
	user-select: none;
}

#score {
	width: 130px;
	height: 40px;
	top: 10px;
	left: 10px;
	color: cyan;
	font-variant-numeric: slashed-zero;
	text-shadow: blue 2px 2px;
}
#restart_button {
	width: 80px;
	height: 80px;
}
#next_button {
	width: 70px;
	height: 70px;
	opacity: 0;
}
#prev_button {
	width: 70px;
	height: 70px;
	opacity: 0;
}
#edit_button {
	width: 70px;
	height: 70px;
}
#stone_counter {
	background-image: url("images/stone.jpg");
    background-size: contain;
	width: 70px;
	height: 70px;
	line-height: 70px;
	color:snow;
	text-shadow: salmon 2px 2px;
	font-size: 35px;
	opacity: 0;
}
#shield_counter {
	background-image: url("images/shield_1.jpg");
    background-size: contain;
	width: 70px;
	height: 70px;
	line-height: 70px;
	color: snow;
	text-shadow: salmon 2px 2px;
	font-size: 35px;
	opacity: 0;
}